* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

.color {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

 .buttons {
    margin-top: 40px;
}

.buttons button{

    border: none;
    border-radius: 10px;
    padding: 20px;
    letter-spacing: 1px;
    background-color: #473198;
    color: white;

}
.buttons button:hover{

   

}

.yourcolor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    font-size: 24px;
    top: 40vh;
}

.yourcolor button {
    margin-top: 20px;
    border: none;
    background: none;
    font-size: 30px;
    transition: box-shadow 0.3s ease; /* Hover efekti için geçiş tanımı */
}

.yourcolor button:hover {
   font-size: 40px; 
}

.copy-alert {
    position: absolute;
    top: 60vh;
    background-color: black;
    font-size: 18px;
    letter-spacing: 1px;
    color: white;
    padding: 20px;
    border-radius: 10px;
   
}

